{% extends 'layout.html' %}
{% block title %}Ajouter un concert{% endblock %}
{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">Ajouter un concert</div>
                <div class="card-body">
                    <form method="post" action="{{ url_for('add_concert') }}">
                        <div class="mb-3">
                            <label for="title" class="form-label">Titre</label>
                            <input type="text" class="form-control" id="title" name="title" required>
                        </div>
                        <div class="mb-3">
                            <label for="dateConcert" class="form-label">Date</label>
                            <input type="date" class="form-control" id="dateConcert" name="dateConcert" required>
                        </div>
                        <button type="submit" class="btn btn-primary">Ajouter</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
