<!DOCTYPE html>
<html>
    <head>
        {% block head %}
        {% endblock %}
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" />
        <title>{% block title %}{% endblock %}</title>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
              <a class="navbar-brand" href="#"><img src="{{ url_for('static', filename='logo.png') }}" id="logo" /></a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/concert">Concert</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/add_concert">Add concert</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="liste_concerts">List concerts</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/actualites">Actualités</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/add_actualites">Add actualités</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/liste_actualites">List actualités</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/actualites/jazz">Actualités Jazz</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/actualites/electro">Actualités Electro</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/actualites/rock">Actualités Rock</a>
                  </li>
                </ul>
                {% if 'user' in session %}
                <span class="navbar-text">
                    Logged in as {{ session['user'] }} | <a href="{{ url_for('logout') }}">Logout</a>
                </span>
                {% else %}
                <span class="navbar-text">
                    <a href="{{ url_for('login') }}">Login</a>
                </span>
                {% endif %}
              </div>
            </div>
          </nav>
          <br />

            <div class="container">
                <div class="row">
                <div class="col">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Accueil</a></li>
                    <li class="breadcrumb-item active" aria-current="page">{{ self.title() }}</li>
                    </ol>
                </nav>
            </div>
          </div>
                <div class="row">
                  <div class="col">
                    {% block content %}
                    {% endblock %}
                  </div>
                </div>
                {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    <div class="row">
                        <div class="col">
                            {% for category, message in messages %}
                                <div class="alert alert-{{ category }}" role="alert">
                                    {{ message }}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
                {% endwith %}
            </div>
    </body>
</html>
