{% extends 'layout.html' %}
{% block title %}Liste des actualités{% endblock %}
{% block content %}
<div class="container">
    <h2>Liste des actualités</h2>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Titre</th>
                <th>Date</th>
                <th>Type</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for item in data %}
            <tr>
                <td>{{ item.id }}</td>
                <td>{{ item.title }}</td>
                <td>{{ item.dateActu }}</td>
                <td>{{ item.type }}</td>
                <td>
                    <form method="post" action="{{ url_for('delete_actualite', id=item.id) }}">
                        <button type="submit" class="btn btn-danger">Supprimer</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
